[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
opencv-python = "*"
pytesseract = "*"
alt-profanity-check = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.10"
